* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: rgb(255, 255, 255);
}

html {
  font-size: 16px;
}

.grande_oferta {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px 0 4px 0;
  align-items: center;
}

nav ul div {
  list-style: none;
  display: flex;

  padding: 10px;
}

nav li {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.container_nav ul {
  display: flex;
  flex-direction: row;
}

.container_pai {
  background-color: #f0a83e;
  padding: 19px 40px 19px 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.banner {
  background-image: url(/img/bowl-and-pet-daities-on-green-background\ 1.png);
  height: 800px;
  width: 100%;
  background-size: cover;
}

.banner_desc {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  gap: 12px;
  left: 70%;
  top: 50%;
}

.banner_desc h2 {
  font-family: "Roboto", sans-serif;
  color: #3c2313;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  font-size: 2em;
}

.banner_desc span {
  color: #3c2313;
  font-family: "Roboto", sans-serif;
}

.banner_desc button {
  background-color: #f0a83e;
  color: #ffffff;
  padding: 15px 17px 15px 17px;
  border-style: inherit;
  border-radius: 5px;
}

section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  color: #3c2313;
  padding: 5px 0 20px 0;
}

.list_destaque ul {
  font-family: "Roboto", sans-serif;
  color: #666666;
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.list_destaque ul li {
  list-style: none;
}

.destaques {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.info_card {
  position: relative;
  bottom: 15px;

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #3c2313;
  text-align: center;
  padding: 5px 60px 5px 57px;
  background-color: #faf9f6;
}

.info_card h3 {
  color: #f0a83e;
}

.container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_cards {
  padding: 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.info_card2 {
  position: relative;
  bottom: 15px;

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #3c2313;
  text-align: center;
  padding: 5px 44px 5px 32px;
  background-color: #faf9f6;
}

.info_card2 h3 {
  color: #f0a83e;
}

.info_card3 {
  position: relative;
  bottom: 15px;

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #3c2313;
  text-align: center;
  padding: 5px 75px 5px 75px;
  background-color: #faf9f6;
}

.info_card3 h3 {
  color: #f0a83e;
}

legend {
  font-family: "Roboto", sans-serif;
  color: #3c2313;
}

.contacts input {
  border-radius: 15px;
  border-style: none;
  width: 340px;
  height: 40px;
}

::placeholder {
  background-color: #3c2313;
  color: #ffffff;
  padding: 15px 230px 15px 15px;
}

.contacts div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botoes {
  display: flex;
  flex-direction: row;
  padding: 30px 0 0 0;
  gap: 20px;
}

button {
  border-radius: 15px;
  border-style: none;

  display: flex;

  gap: 20px;
}

button input {
  width: 160px;
  height: 40px;
  border-radius: 15px;

  border-style: none;
  font-family: "Roboto", sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
}

.b1 {
  background-color: #666666;
  color: #ffffff;
}

.b2 {
  color: #ffffff;
  background-color: #f0a83e;
}
